<div class="box">
    <h2>Using the Customer entity make a variable to store a list of customers who have customer names that begin with the letter “A” (hint: A customer name is located inside of parent tables of the customer entity, which are system module contact and its parent table system contact you will need use your navigation skills for this).</h2>
    <div class="innerbox">
        <ul>
            <li>Display the names</li>
            
            <li>Get a count of that list.</li>
        </ul>
    </div>
    

</div>
